{%  extends 'main/base.html' %}

{% block content %}

<h1>This is a simple html form:</h1><br>

<div class="container jumbotron ">

    <form class="container align-bseline" action={% url 'randg:generate' %} >
      <select class="" name="length">
        <option value=6>6 long</option>
        <option value=8 selected = "selected">8 long</option>
        <option value=12>12 very long</option>
      </select> Length
      <br>
      <input type="checkbox" name="uppercase"> Uppercase<br>
      <input type="checkbox" name="numbers"> Numbers<br>
      <input type="checkbox" name="special"> Special characters <br>

      <br>
      <input type="color" name="color" value=""> Color <br>
      <p>You can add more kind of inputs. search for html forms on ws school</p>
      <input type="submit" class="btn btn-outline-primary" name="" value="Generate password">

    </form>

    </div>

  </div>





{% endblock content %}
